<style>
  @import url('angular-material.css');
</style>
<h1>Angular 2 <br> Youtube Demo</h1>

<div layout="row" >
  <div flex="30"> Search</div>
  <input flex="50" [(ng-model)]="searchTerm" type="text">
  <button flex="20" class="md-button md-primary md-raised md-default-theme"
          (click)="fetch()">Fetch
  </button>
</div>
<br>

<div layout="row">
  <div flex="30"> Shown</div>
  <div flex="50"> {{videos.length}}</div>
</div>

<md-card *ng-for="#video of videos">
  <md-card-content>
    <search-result [video]="video"></search-result>
  </md-card-content>
</md-card>
