<style>
  @import url('/css/bootstrap.min.css');
  .selected {
    border: 1px red solid;
  }
  img {
    border: 1px transparent solid;
  }
</style>
<!-- shadow dom + web fonts -> issues 
<span class="glyphicon glyphicon-thumbs-up" [class.selected]="state == UP" (click)="onClick(UP)"></span>
<span class="glyphicon glyphicon-thumbs-down" [class.selected]="state == DOWN" (click)="onClick(DOWN)"></span>-->
<img src="assets/glyphicons-344-thumbs-up.png" [class.selected]="state == UP" (click)="onClick(UP)"></img>
<img src="assets/glyphicons-345-thumbs-down.png" [class.selected]="state == DOWN" (click)="onClick(DOWN)"></img>
