<style>
  @import url('components/video.css');
</style>
<div class="container-fluid">
  <div class="row center">
    <img class="thumb" *if="!player" [src]="video.snippet.thumbnails.high.url"
         (click)="togglePlayer()">
    {{video.id}}
    <google-youtube *if="player" [videoId]="video.id"></google-youtube>
  </div>
  <swiper class="row">
    <div class="highlight left fixed">
      <h4> Stats </h4>
      <div class="col-xs-3">
        <div>Viewed</div>
        <div>Likes</div>
        <div>Dislikes</div>
      </div>
      <div class="col-xs-3">
        <div>{{video.statistics.viewCount}}</div>
        <div>{{video.statistics.likeCount}}</div>
        <div>{{video.statistics.dislikeCount}}</div>
      </div>
      <thumbs class="col-xs-5" (change)="thumbsChange($event)"></thumbs>
    </div>
    <div class="highlight right">
      <h4> Description </h4>
      <small>{{video.snippet.description}}</small>
    </div>
  </swiper>
</div>
